@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}
.app{
    /* height: 220vh; */
    min-height: 100vh;

    color: white;
    background: linear-gradient(#010005, #202020, #343434);
}